<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Servlets -->
  <servlet>
    <servlet-name>ProjetoServiceImpl</servlet-name>
    <servlet-class>com.puzzledu.server.ProjetoServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ProjetoServiceImpl</servlet-name>
    <url-pattern>ProjetoService</url-pattern>
  </servlet-mapping>
    
    
  <servlet>
    <servlet-name>loginServiceImpl</servlet-name>
    <servlet-class>com.puzzledu.server.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginServiceImpl</servlet-name>
    <url-pattern>Login</url-pattern>
  </servlet-mapping>
      
  <welcome-file-list>
    <welcome-file>PuzzlEdu.html</welcome-file>
  </welcome-file-list>

</web-app>
